.inputs_container {
  display: flex;
  width: calc(100% - 240px);
}

.input {
  border-radius: 4px;
  width: 100%;
  outline: none;
  padding: 12px 13px;
  border: 1px solid #e2e2e2;
  transition: 0.3s;
  font-size: 14px;
}

.input:first-child {
  border-radius: 4px 0 0 4px;
  width: 25%;
}

.input:last-child {
  border-radius: 0 4px 4px 0;
  width: 25%;
}

.input:nth-child(2) {
  width: 50%;
  border-radius: 0px;
}

.input:hover,
.input:focus {
  border-color: #1785e5;
}
