.fieldset {
  padding: 10px 0;
  border: none;
  outline: none;
  display: flex;
  justify-content: space-between;
}

.fieldset label {
  width: 300px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.fieldset-sm {
  width: 100%;
  max-width: 400px;
}

.fieldset-md {
  width: 100%;
  max-width: 600px;
}

.fieldset-lg {
  width: 100%;
  max-width: 700px;
}
