.statistics-links {
  width: max-content;
}

.statistics-links a {
  text-decoration: none;
  color: rgb(74, 74, 236);
  transition: 0.2s;
  font-size: 14px;
}

.statistics-links a:not(:last-child) {
  margin-right: 10px;
}

.statistics-links a:hover {
  color: #000;
}

.statistics > h3 {
  font-size: 14px;
  margin-bottom: 5px;
}

.resume-pos {
  font-weight: 700;
  font-size: 18px;
}

.resume > p {
  font-size: 14px;
}
